<div class="index ui-widget ui-widget-content">
  <div>
    Welcome to SimpleScraper, a cooperative network of miniature scraping devices meant for cell phones.
  </div>
  <ul>
    <li>Learn more about it on <a href="https://github.com/talos/SimpleScraper">GitHub</a></li>
    {{^user}}
    {{#options}}
      <li><a href="{{login_location}}">Log in</a> or <a href="{{registration_location}}">register</a> an account.</li>
    {{/options}}
    {{/user}}
  </ul>
</div>