{{#html_format}}
  <!doctype html>
  <html>
    <head>
      {{! Render the title if we have one. }}
      {{#title}}
        <title>{{title}}</title>
      {{/title}}
      {{! Include our scripts. }}
      {{#options}}
        {{#javascripts}}
          <script type="text/javascript" src="{{to_s}}"></script>
        {{/javascripts}}
        {{#stylesheets}}
          <link rel="stylesheet" type="text/css" href="{{to_s}}" />
        {{/stylesheets}}
      {{/options}}
    </head>
    <body>
      <noscript>Sorry, you must have JavaScript enabled in your browser to edit resources.  This is because HTML does not support HTTP's PUT and DELETE verbs without JavaScript.</noscript>
      {{> user_bar}}
      {{{yield}}}
      {{! {{> user_bar}}
    </body>
  </html>
{{/html_format}}
{{#json_format}}
  {{{yield}}}
{{/json_format}}
