<html>
  <body>
    <iframe src = "http://simplescraper.rpxnow.com/openid/embed?token_url=http%3A%2F%2Flocalhost%3A4567%2Flogin" scrolling = "no" frameBorder = "no" allowtransparency = "true" style = "width:400px;height:240px">
  </body>
</html>