{{#model}}
  {{#html_format}}
    <div class="model ui-widget">
      {{! The model's name. }}
      <span class="ui-widget-header ui-corner-top">Model "{{raw_name}}"</span>
      {{! Resources in this model. }}
      {{> associations}}
    </div>
  {{/html_format}}
{{/model}}
{{#json_format}}
  {{{to_json}}}
{{/json_format}}
