{{#html_format}}
  <div class="model">
    {{! The model's name. }}
    <div class="name">Model "{{name}}"</div>
    {{! The name of resources in this model. }}
    <ul class="associations">
      {{#associations}}
        <li class="resource"><a href="{{location}}">{{name}}</a></li>
      {{/associations}}
    </ul>
  </div>
{{/html_format}}
{{#json_format}}
  {{{to_json}}}
{{/json_format}}