{{> header}}

<div class="relationship">
  {{! The relationship's name. }}
  <div class="name">{{name}} (<a href="{{related_model_location}}">{{related_model}}</a>)</div>
  {{! List the links inside this relationship. }}
  <ul class="links">
    {{#links}}
      <li class="link">
        <form method="delete" action="{{tag_location}}">
          <a href="{{resource_location}}">{{creator_name}}'s {{name}}</a>
          <input type="submit" name="delete" value="X" />
        </form>
      </li>
    {{/links}}
  </li>
  {{! Allow the user to add another link to this relationship. }}
  <form method="put" action="{{location}}">
    <input type="text" name="name" />
    <input type="submit" name="add" value="add" />
  </form>
</div>

{{> footer}}
