{{#html_format}}
  <div class="scraper">
    <div class="name">
      Scraper for a{{#info_name_starts_with_vowel}}n{{/info_name_starts_with_vowel}} {{info_name}} in {{area_name}}
    </div>
    {{to_json}}
  </div>
{{/html_format}}
{{#json_format}}
  {{to_json}}
{{/json_format}}