{{#user}}
  <div class="user_bar ui-widget ui-widget-header ui-corner-all">
    <span class="float-left">You are logged in as {{full_name}}.</span>
    &nbsp;
    <span class="float-right">
      <span><a href="{{home_location}}">Home</a></span>
      <span><a href="{{logout_location}}">Log out</a></span>
    </span>
  </div>
{{/user}}
